*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgb(106, 188, 236);
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);

}
.nav_list li a {
text-decoration: none;
color: black;
font-weight: bold;
}
.navbar li{
    margin:  20px;
padding: 10px;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

}
.navbar ul li a:hover{
    color: rgb(255, 255, 255);
}